-
  var images = [
    {
      src: '1',
      title: 'Professional HTML & CSS, level 1',
      alternative: 'Профессиональный html и css, уровень 1',
      datetime: '2019-03-24',
      date: '01/21 2019 – 03/24 2019',
      color: 'blue',
      technologies: [
        'Семантичной и доступной вёрстке',
        'Синтаксису html, тонкостям тегов и атрибутов',
        'Работать со спецификацией тегов (правилам вкладывания тегов)',
        'Сложным случаям разметки',
        'Figma, анализу макета (выделению уникальных и повторяющихся блоков',
        'Выстраивать базовую структуру, использовать классы для именования блоков',
        'Экспортировать графику из макета',
        'Снимать с макета параметры блоков и текста',
        'Разбираться в форматах графики, выбирать правильный формат, экспортировать и оптимизировать изображения',
        'Создавать файловую структуру проекта, использовать относительные пути к ресурсам',
        'Выполнять базовую стилизацию',
        'Основам CSS, разобрался, что такое наследование, каскад и специфичность',
        'Внедрять контентную и декоративную графику',
        'Подключать шрифты',
        'Строить крупные сетки страниц с помощью Flexbox и Grid',
        'Боксовой модели и типам боксов',
        'Анализировать сетки на макетах и определять крупные сетки',
        'Создавать мелкие сетки компонентов при помощи флексов',
        'Создавать мелкие сетки компонентов при помощи гридов',
        'Разбираться в типовых ситуациях, когда гриды подходят лучше флексов',
        'Совместному использованию гридов и флексов, рассмотрел преимущества и недостатки каждой технологии',
        'Добавлять мелкие декоративные и иконочные графические элементы, стилизации текстовых блоков, декоративных элементов, компонентов, кнопок, ссылок',
        'Стилизовать блоки при помощи двумерных трансформаций, рамок, теней и градиентов',
        'Точечному позиционированию элементов, псевдоэлементам',
        'Тонкостям типографики и визуальным правилам оформления контента',
        'Стилизовать интерактивные состояния ссылок и кнопок',
        'Верстать всплывающие элементы. Стилизовать формы и их элементы',
        'Оформлять нестандартные элементы форм',
        'Выстраивать модальные окна и выпадающие элементы',
        'Стилизовать интерактивные состояния компонентов форм и слайдеров',
        'Проверять проект на соответствие критериям качества',
        'Тестировать контент на изменение количества и размеров элементов, текста и графики',
        'Проверять проект на соответствие макету и стайлгайду',
      ],
    },
    {
      src: '2',
      title: 'Professional HTML & CSS, level 1',
      alternative: 'Профессиональный html и css, уровень 1',
      datetime: '2020-03-22',
      date: '01/20 2020 – 03/22 2020',
      color: 'blue',
      technologies: ['Проходил курс повторно (для лучшего закрепления материала)'],
    },
    {
      src: '3',
      title: 'Professional HTML & CSS, level 2',
      alternative: 'Профессиональный html и css, уровень 2',
      datetime: '2020-05-27',
      date: '03/23 2020 – 05/27 2020',
      color: 'blue',
      technologies: [
        'Подходам к вёрстке',
        'Методологии БЭМ',
        'Препроцессорам Sass, Less',
        'Переменным и математике, вложенным селекторам, операциям с цветами',
        'Подключению файлов, примесям и расширениям, организации кода, сборке стилей',
        'Сборщику Gulp',
        'Адаптивным сеткам',
        'Гридам для адаптивных макетов',
        'Применять адаптивные декоративные элементы',
        'Отличать резиновую верстку от фиксированной',
        'Адаптивно-резиновой вёрстке',
        'Адаптивной и резиновой графике',
        'Ретинизации (графика для экранов повышенной чёткости)',
        'Векторной графике и оптимизации',
        'Использованию SVG, SVG-спрайтов',
        'Стилизации SVG',
      ],
    },
    {
      src: '4',
      title: 'Profession “Front-end Developer”',
      alternative: 'Профессия “Разработчик клиентских приложений“',
      datetime: '2020-07-29',
      date: 'January 20 – July 29, 2020',
      color: 'dark-blue',
      technologies: [
        'Навыки из курса Professional HTML & CSS, level 1',
        'Навыки из курса Professional HTML & CSS, level 2',
        'Навыки из курса JavaScript. Professional Development of Web Interfaces',
      ],
    },
    {
      src: '5',
      title: 'JavaScript. Professional Development of Web Interfaces',
      alternative: 'JavaScript. Профессиональная разработка веб - интерфейсов',
      datetime: '2022-04-18',
      date: 'February 15 – April 18, 2022',
      color: 'dark-blue',
      technologies: [
        '',
        '',
        '',
        '',
        '',
        '',
        '',
        '',
        '',
        '',
        '',
        '',
        '',
        '',
        '',
      ],
    },
    {
      src: '6',
      title: 'JavaScript. Architecture of Front-end Applications',
      alternative: 'JavaScript. Архитектура клиентских приложений',
      datetime: '2022-05-27',
      date: 'April 25 – June 27, 2022',
      color: 'dark-blue',
    },
    {
      src: '7',
      title: 'PUG. Template Engine',
      alternative: 'Pug. Шаблонизаторы html',
      datetime: '2022-12-24',
      date: 'December 24, 2022',
    },

  ];