extends ../layout/layout

block variables
  -
    var links = [
      {
        text: 'Страница сертификатов - index.html',
        anchor: 'index.html',
        title: 'Мои сертификаты'
      }
    ];

block content
  body.sitemap
    section.map
      .map__wrapper
        ul.map__list
          each link in links
            li.map__item
              a.map__link(href= link.anchor title= link.title)= link.text